$primary: #007bff;

$bg-gray: #7C8B97;

$heading: #252F4A;

$text: #737B8B;

$border: #dbeaea;

$white: #ffffff;

$bg-lime: #0FD354;

$bg-red: #F8285A;

$bg-blue: #1A83FE;

$bg-blue-two: #1B84FF;

$bg-purple: #252F4A;