.classynav {
    ul#corenav {
        display: flex;
        align-items: center;

        a {
            display: inline-block;
        }

        li.cn-dropdown-item {

            ul.dropdown {
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.3s ease-in-out;
                height: 0;
                position: absolute;
                background: #fff;

                a {
                    padding: 0 1.75rem;
                    height: 40px;
                    line-height: 39px;
                    white-space: nowrap;
                    color: #7C8B97;
                    width: 100%;
                }
            }

            &:hover {
                ul.dropdown {
                    opacity: 1;
                    visibility: visible;
                    height: auto;
                    border-radius: 10px;
                }
            }
        }

        li.megamenu-item {

            .megamenu {
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.3s ease-in-out;
                height: 0;
                position: absolute;
                background: #fff;
                display: flex;
                width: 0;

                a {
                    padding: 0 1.75rem;
                    height: 40px;
                    line-height: 39px;
                    white-space: nowrap;
                    color: #7C8B97;
                    width: 100%;
                }

                ul:last-child {
                    box-shadow: none;
                }
            }

            &:hover {
                .megamenu {
                    opacity: 1;
                    visibility: visible;
                    height: auto;
                    width: 560px;
                    box-shadow: 0px 1px 2px 0px rgba(27, 42, 82, 0.14);
                    border-radius: 10px;
                    z-index: 3;
                }
            }
        }
    }

}

.home-crm .top-header-area {
    a.crm-logo {
        img {
            @include md {
                max-width: 120px;
            }
        }
    }
}