.hr-management-system {
  background-color: $white !important;

  div#webdeshSideNav {
    padding-top: 100px;
  }

  .playlist-card,
  .playlist-table-card,
  .popular-catagories {
    border: 1px solid #eee;
    border-radius: 10px;
  }

  .delivery-dashboard-header {
    border: 1px solid #eee;
    border-radius: 10px;
  }

  .logistics-tab .tab-content {
    border: 1px solid #eee;
    border-radius: 10px;
    border-top-left-radius: 0;
  }

  .logistics-tab .card {
    p {
      @include xxl {
        font-size: 13px;
      }
    }
  }

  .top-episodes {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
  }

  .popular-catagories {
    padding: 10px;
    margin-top: 24px;

    .mt-4 {
      margin-top: 0 !important;
    }

    .catagories-slider {
      padding: 5px 0;
    }
  }

  .card-three {
    @include md {
      padding: 20px 15px;
    }

    @include sm {
      padding: 30px 25px;
    }

    @include xxs {
      padding: 20px 15px;
    }
  }

  .single-card-three-content h3 {
    @include md {
      font-size: 24px;
    }

    @include sm {
      font-size: 26px;
    }

    @include xxs {
      font-size: 24px;
    }
  }

  .single-card-three p {
    @include md {
      font-size: 12px;
    }
  }

  .card-2,
  .compare-card-title,
  .announcement-card {
    @include xl {
      padding: 15px;
    }

    @include lg {
      padding: 20px;
    }

    @include md {
      padding: 15px;
    }
  }

  .check-card-area {
    @include lg {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    h2 {
      @include lg {
        margin-top: 0;
      }

      @include md {
        font-size: 16px;
      }
    }

    svg {
      @include xs {
        width: 26px;
      }
    }
  }

  .single-announcement h6 {
    @include xl {
      font-size: 15px;
    }
  }

  div#announcementBody {
    @include lg {
      max-height: 200px;
      padding-bottom: 15px;
    }
  }

  .card-three #world-map-markers {
    height: 340px;
    margin-top: -40px;

    figure {
      height: 340px;
      overflow: hidden;
      text-align: center;

      svg {
        scale: 0.65;
        margin-top: -40px;
        margin-left: 0;

        @include xxl {
          margin-left: -110px;
        }

        @include xl {
          margin-left: -150px;
          scale: 0.6;
        }

        @include lg {
          scale: 0.8;
          margin-top: -30px;
          margin-left: unset;
        }

        @include md {
          scale: 0.7;
          margin-left: -80px;
        }

        @include sm {
          margin-left: -60px;
        }

        @include xxs {
          margin-left: -150px;
          scale: 0.55;
          margin-top: -50px;
        }
      }
    }
  }

  .card-title {
    @include xxs {
      font-size: 16px;
    }
  }

  .webdesh-logo {
    height: 100px;
  }

  .side-menu-area {
    margin: 0;
    padding-bottom: 0;
  }

  .location-hire-card #world-map-markers {
    margin-top: 0px;
    height: 300px;

    figure {
      height: 300px;
      overflow: hidden;
      width: 100%;

      @include md {
        text-align: center;
      }

      svg {
        scale: 1;
        margin-left: 20px;
        margin-top: -10px;

        @include xxl {
          scale: 0.8;
          margin-left: -30px;
        }

        @include xl {
          scale: 1;
          margin-left: 20px;
        }

        @include lg {
          scale: 0.9;
          margin-left: -10px;
        }

        @include md {
          margin-left: auto;
        }

        @include sm {
          scale: 1;
        }

        @include xs {
          scale: 0.9;
          margin-left: -20px;
        }

        @include xxs {
          scale: 0.7;
          margin-left: -60px;
        }
      }
    }
  }

  .card {
    border: 1px solid #eee;
    border-radius: 10px;

    @include xxs {
      padding: 16px;
    }
  }

  .webdesh-sidemenu-area {
    border-right: 1px solid rgba(0, 0, 0, 0.1);

    .sidebar-menu li .treeview-menu li.active a {
      color: #F8285A;
    }

    .sidebar-menu li .treeview-menu {
      margin-bottom: 0;
      margin-top: 0;

      &.menu-open {
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
  }

  .vector-map-area #world-map-sales-markers {
    height: 250px;

    figure {
      height: 250px;
      overflow: hidden;
      text-align: center;

      svg {
        scale: 0.7;
        margin-top: -40px;
        margin-left: -20px;

        @include xxl {
          margin-left: -60px;
        }

        @include sm {
          margin-left: -20px;
        }

        @include xs {
          margin-left: -60px;
        }

        @include xxs {
          margin-left: -120px;
          scale: 0.6;
        }
      }
    }
  }

  .react-calendar .react-calendar__viewContainer button.react-calendar__tile.react-calendar__month-view__days__day {
    @include xxs {
      height: 42px;
    }
  }

  .card-five {
    @include xxl {
      padding: 20px;
    }

    @include md {
      padding: 15px;
    }

    @include sm {
      padding: 24px;
    }

    .card-icon-5 {
      @include md {
        margin-right: 10px !important;
      }

      @include sm {
        margin-right: 15px !important;
      }

      svg {
        @include md {
          width: 40px;
          height: 40px;
        }

        @include sm {
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  .react-calendar {
    padding-bottom: 24px;

    @include md {
      padding-bottom: 15px;
    }

    @include sm {
      padding-bottom: 24px;
    }
  }

  .card-progress-five p {
    @include md {
      font-size: 12px;
    }

    @include sm {
      font-size: 14px;
    }
  }

  .react-calendar .react-calendar__viewContainer button::after {
    @include md {
      width: 42px;
      height: 42px;
    }

    @include xxs {
      width: 35px;
      height: 35px;
    }
  }

  .card-info-five {
    h3 {
      @include md {
        font-size: 22px;
      }

      @include sm {
        font-size: 26px;
      }
    }
  }

  .top-header-area {
    width: 100%;
    left: 0;
    background-color: $white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 70px;

    @media #{$breakpoint-md} {
      width: calc(100% - 260px);
      left: 260px;
      height: 100px;
    }

    @media #{$breakpoint-xxl} {
      width: calc(100% - 290px);
      left: 290px;
    }
  }

  &.bg-detected {
    .top-header-area {
      background-color: rgba(255, 255, 255, 0.75);
    }
  }

  .webdesh-page-content {
    margin-left: 0;

    @media #{$breakpoint-md} {
      margin-left: 260px;
    }

    @media #{$breakpoint-xxl} {
      margin-left: 290px;
    }
  }

  .webdesh-sidemenu-area {
    width: 260px;
    background-color: $white;

    @media #{$breakpoint-xxl} {
      width: 290px;
    }
  }

  .webdesh-logo {

    @media #{$breakpoint-xxl} {
      width: 290px;
    }

    a {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 32px;
    }
  }

  .webdesh-sidemenu-area .slimScrollDiv {
    background-color: $white;
  }

  .sidebar-bg-detected.webdesh-sidemenu-area .webdesh-logo a {
    background-color: rgba(255, 255, 255, 0.75);
  }

  .sidebar-menu {
    .title {
      font-size: 12px;
      font-weight: 500;
      padding: 10px 12px 10px 2rem;
      margin-top: 1rem;
      text-transform: uppercase;
    }

    li a {
      padding: 0 1.25rem 0 2rem;
      font-size: 1rem;
      font-weight: 400;
      color: $text;
      height: 56px;

      i {
        color: $text;
      }
    }
  }

  .sidebar-menu>li.active>a,
  .sidebar-menu>li>a:hover,
  .sidebar-menu>li.menu-open>a {
    color: $bg-red;
    background-color: transparent;

    i {
      color: $bg-red;
    }
  }

  .sidebar-menu li .treeview-menu li a:hover,
  .sidebar-menu li .treeview-menu li a:focus {
    color: $bg-red;
  }

  .sidebar-menu li .treeview-menu .treeview-menu {
    margin-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .sidebar-menu .treeview.active {
    li.active {
      a {
        color: $bg-red !important;

        &::after {
          background-color: $bg-red;
        }
      }
    }
  }

  .sidenav-logout {
    padding-left: 2rem;
    font-size: 1rem;
    font-weight: 400;
    color: $text;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

    i {
      font-size: 28px;
      width: 50px;
      flex: 0 0 50px;
      max-width: 50px;
    }

    &:hover,
    &:focus {
      color: $bg-red;
      font-weight: 500;
    }
  }

  .top-search-bar {
    display: none;

    form {
      margin-right: 12px;

      @media #{$breakpoint-md} {
        margin-right: 24px;
      }

      input {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        padding-right: 2.5rem;
        padding-left: 1.25rem;
        min-width: 100px;
        width: 150px;
        box-shadow: none;

        @media #{$breakpoint-xs-landscape} {
          width: 120px;
        }

        @media #{$breakpoint-md} {
          width: 140px;
        }

        @media #{$breakpoint-lg} {
          width: 200px;
        }

        @media #{$breakpoint-xl} {
          width: 230px;
        }

        @media #{$breakpoint-xxl} {
          width: 300px;
        }
      }

      button {
        left: auto;
        right: 20px;
      }
    }

    @media #{$breakpoint-xs-landscape} {
      display: block;
    }

    @media #{$breakpoint-sm} {
      display: block;
    }

    @media #{$breakpoint-md} {
      display: block;
    }
  }

  .right-side-navbar .nav-item.dropdown .btn {
    color: $text;
    border: none;
    margin-left: 0;
    background-color: transparent;
    box-shadow: none;
    width: 32px;
    height: 32px;

    @media #{$breakpoint-md} {
      width: 36px;
      height: 36px;
    }
  }

  .topbar-user-meta-data {
    width: 52px !important;
    padding: 2px !important;

    @media #{$breakpoint-md} {
      width: 54px !important;
      padding: 4px !important;
    }

    @media #{$breakpoint-lg} {
      padding: 2px 4px !important;
      height: 44px !important;
      width: 192px !important;
    }
  }

  .topbar-user-meta-data .topbar-user-img {
    img {
      width: 26px;

      @media #{$breakpoint-lg} {
        width: auto;
      }
    }
  }

  .top-header-area .dropdown-menu {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    @include xxs {
      width: 11rem;
    }
  }

  .top-header-area .language-dropdown {
    width: 60px !important;

    @media #{$breakpoint-md} {
      width: 90px !important;
    }
  }

  .language-dropdown {
    img {
      display: none;

      @media #{$breakpoint-md} {
        display: block;
      }
    }
  }

  .language-dropdown-menu .dropdown-item {
    padding: 4px 1.5rem;
    font-size: 14px !important;
  }

  .footer-area {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    .copywrite-text p a {
      color: $bg-red;
    }
  }

  .top-header-area .dropdown-menu .user-profile-area .dropdown-item {

    i {
      color: $bg-red;
    }

    &:hover,
    &:focus {
      color: $bg-red;
    }
  }

  .top-header-area .nav-item.dropdown .dropdown-menu .dropdown-item:hover,
  .top-header-area .nav-item.dropdown .dropdown-menu .dropdown-item:focus {
    color: $bg-red;
  }

  .main-content-wrap {
    padding-top: 70px;

    @media #{$breakpoint-md} {
      padding-top: 100px;
    }

    .main-container {
      padding-left: .75rem;
      padding-right: .75rem;
      padding-top: 1.5rem;
    }
  }

  .mobile-menu-icon {
    width: 2rem;
    background-color: $bg-red;
  }

  &.mobile-menu-open {

    .webdesh-sidemenu-area,
    .webdesh-logo {
      left: 0;
    }
  }

  .top-streams-wrap,
  .new-realese-music,
  .music-playlist,
  .top-categories-wrap {
    border: 1px solid #eee;
    border-radius: 10px;
  }

  .pos-cta-card {
    h4 {
      font-size: 22px;
    }

    span {
      font-size: 14px;
    }
  }

  .pos-system-cta-card .cta-heading-wrap {
    h6 {
      color: rgba(37, 47, 74, 0.7);
      font-size: 12px;
      font-weight: 500;
      max-width: 120px;
    }

    h3 {
      @include xxl {
        font-size: 24px;
      }
    }
  }
}