// Fonts
$fonts: 'Poppins', sans-serif;

// Text Colors
$dark-header: #dcd9d8;
$dark-desc: #b5b5b5;
$landing-header: #2F405C;
$landing-desc: #676D78;
$dark-landing-header: #C7C7C7;
$dark-landing-desc: #B3B3B3;
$dark-desc-1: #c4c4c4;