.landing-page,
.home-crm,
.home-logistics {
    .top-navbar>ul>li>a {
        @include lg {
            padding: 16px;
            font-size: 15px;
        }
    }

    header .dropdown-menu {
        padding: 0 !important;
    }

    header {
        .header-bottom-btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }

    .demo-welcome-card h2 {
        @include md {
            font-size: 26px;
        }
    }

    .demo-welcome-card p {
        @include md {
            font-size: 16px;
        }

        @include xxs {
            font-size: 12px;
        }
    }

    .section-heading h2 {
        @include lg {
            font-size: 34px;
        }

        @include md {
            font-size: 28px;
        }

        @include sm {
            font-size: 24px;
        }

        @include xs {
            font-size: 22px;
        }

        @include xxs {
            font-size: 20px;
        }
    }

    .section-heading p {
        @include md {
            font-size: 16px;
        }
    }

    .welcome-content {
        @include md {
            text-align: center;
        }
    }

    .cta-text h2 {
        @include md {
            font-size: 28px;
        }

        @include sm {
            font-size: 24px;
        }

        @include xs {
            max-width: 90%;
            margin: auto;
            font-size: 22px;
        }

        @include xxs {
            font-size: 20px;
        }
    }

    .footer-area .copywrite-text p {
        @include md {
            text-align: center;
        }
    }

    .classy-navbar-toggler {
        padding: 0;
        background-color: #ffffff;
        margin-left: 8px;
        color: #737B8B;
        border: none;
        line-height: 1;
        position: relative;
        z-index: 1;
        width: 46px;
        height: 46px;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(27, 42, 82, 0.14);
        box-shadow: 0px 1px 2px 0px rgba(27, 42, 82, 0.14);
        border-radius: 5px;
        font-size: 24px;
        display: none;

        @include md {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @include sm {
            width: 36px;
            height: 36px;
        }
    }

    .classy-menu {
        @include md {
            left: auto;
            right: -340px;
            z-index: 99999;
            width: 260px;
            background-color: #fff;
            position: fixed;
            top: 0;
            bottom: 0;
            transition-duration: 0.5s;
            padding: 0;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
            display: block;
            overflow-x: hidden;
            overflow-y: scroll;
        }

        &.menu-on {
            left: auto;
            right: 0;
            background-color: #E2E8FA;
            z-index: 99999;
            width: 260px;
        }

        .classycloseIcon {
            top: 20px;
            right: 20px;
            z-index: 12;
            position: absolute;
            display: none;

            @include md {
                display: block;
            }

            .cross-wrap {
                width: 26px;
                height: 26px;
                cursor: pointer;
                position: relative;

                span {
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 2px;
                    border-radius: 6px;
                    background: #232323;
                }

                span.top {
                    top: 12px;
                    left: 0;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }

                span.bottom {
                    bottom: 12px;
                    left: 0;
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }

            }
        }

        .classynav.top-navbar {
            padding: 80px 0;
        }

        ul#corenav {
            @include md {
                flex-direction: column;
            }

            li {
                width: 100%;

                a {
                    text-wrap: nowrap;

                    @include md {
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                        width: 100%;
                    }
                }


                &.active {
                    button.mobile-dropdown-btn {
                        background-color: #27ae60;
                    }
                }
            }

            li.cn-dropdown-item:hover ul.dropdown,
            li.megamenu-item:hover .megamenu {
                @include md {
                    opacity: 0;
                    visibility: hidden;
                    height: 0;
                }
            }

            li.cn-dropdown-item.active ul.dropdown {
                opacity: 1;
                visibility: visible;
                height: auto;
                position: relative;
                background-color: transparent;
                border-radius: 0;
                box-shadow: none;
            }

            li.megamenu-item.active .megamenu {
                opacity: 1;
                visibility: visible;
                height: auto;
                position: relative;
                background-color: transparent;
                border-radius: 0;
                box-shadow: none;
                display: flex;
                flex-direction: column;
                width: 100%;
            }
        }

        button.mobile-dropdown-btn {
            background-color: #007bff;
            border: 0;
            width: 24px;
            height: 24px;
            text-align: center;
            margin-right: 15px;
            color: #fff;
            position: absolute;
            right: 15px;
            top: 10px;
            display: none;

            @include md {
                display: block;
            }
        }
    }

    .single-more-feature {
        display: flex;
        gap: 5px;
        align-items: center;

        @include xs {
            justify-content: center;
        }
    }

    .landing-home-card {

        a {
            height: 260px;
            overflow: hidden;
            display: flex;

            img {
                background-repeat: no-repeat;
                background-position: top center;
                background-size: 100%;
                height: 100%;
            }
        }

    }

    .landing-layout-card {
        background: #212121;

        h5 {
            color: #fff;
        }
    }
}

.landing-page .classy-menu ul#corenav li a {
    color: $landing-desc;
}

.landing-page {

    h2,
    h5,
    h6 {
        color: $landing-header;
    }

    ul#corenav li.cn-dropdown-item ul.dropdown a,
    .classynav ul#corenav li.megamenu-item .megamenu a {
        color: $landing-desc;
    }
}


.landing-page p {
    color: $landing-desc;
}